*{
    margin: 0px;
    padding: 0%;
}
body{
    background-color: #F9F7F7;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    /* box-shadow: 0 0 1rem (3F72AF 10%); */
    font-size: 8vmin;
    background-color: #DBE2EF;
    color: #112D4E;
}
#reset-btn{
    margin: none;
    border-radius: 1rem;
    background-color: #112D4E;
    color: #DBE2EF;
    padding: 10px;
    border: none;
}
.msg{
    height: 10vh;
    width: 100%vh;
    text-align: center;
    color: #3F72AF;
    font-weight: bold;
}
h1{
    margin-top: 2rem;
}